body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.color-picker-container {
    position: absolute;
    left: 10px;
    top: 100px;
}

#colorRangeWrapper {
    width: 332px;
    height: 901px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: relative;
    left: 185px; /* Move right by 185px */
    top: -10px;
}

#colorRangeContainer {
    position: absolute; /* Changed to absolute */
    top: 61px; /* Position relative to colorRangeWrapper */
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-box {
    display: block;
    width: 332px;
    height: 168px;
    margin: 0;
}

.small-color-box {
    display: inline-block;
    width: 10px;
    height: 50px;
}

.pantone-label {
    color: black; /* Text color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 25px; /* Adjust the size as needed */
    display: flex; /* Use flex to align text and square */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Center items horizontally */
    margin-top: 15px;
    margin-bottom: 10px; /* Space below the label */
    width: 100%;
}

.pantone-label span { /* Targeting the text specifically */
    padding-right: 20px; /* Adds space to the right of the text */
    margin-left: 20px;
}

.black-square {
    width: 20px; /* Width of the black square */
    height: 20px; /* Height of the black square */
    background-color: black; /* Color of the square */
    margin-left: 10px; /* Space between the text and the square */
    margin-right: 20px;
}

