body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.color-picker-container {
    position: absolute;
    left: 200px;
    top: 360px;
}

#colorPicker {
    width: 152px; /* Larger width */
    height: 152px; /* Larger height */
    border: none; /* Optional: Removes the border */
    cursor: pointer; /* Changes cursor to indicate clickability */
    /* Add any other styling as required */
}

#fillButton {
    background-color: #fff; /* Background color for the button */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding for size */
    font-weight: 700;
    font-size: 22px;
    text-align: center; /* Center the text */
    cursor: pointer; /* Change cursor to indicate clickability */
    /* Add other button-like styling as needed */
}

#colorRangeWrapper {
    width: 332px;
    height: 901px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: relative;
    left: 450px; /* Move right by 185px */
    top: -10px;
}

#leftColorRangeWrapper {
    width: 332px; /* Same width as colorRangeWrapper */
    height: 901px; /* Same height as colorRangeWrapper */
    background-color: white; /* Same background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: absolute; /* To position it on the left side */
    left: 680px; /* Adjust this value to set the exact X coordinate */
    top: -10px; /* Same Y coordinate as colorRangeContainer */
}

.purple-rectangle {
    width: 332px;
    height: 628px;
    background-color: #884ca4;
    position: relative; /* To position the text inside */
}

.formula-guide {
    color: white;
    font-size: 58px;
    font-weight: 700;
    position: absolute; /* Absolute positioning inside purple-rectangle */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    transform: rotate(-90deg);
    transform-origin: right top; /* Pivots from the top-right corner */
    top: 70px; /* Adjust this if necessary to fine-tune the vertical position */
    left: -151%; /* Places the 'GUIDE' at the end of the 'FORMULA' */
    white-space: nowrap; /* Ensures the text does not wrap */
}

.solid-uncoated {
    color: white; /* Or any other color that contrasts with the purple */
    font-size: 43px; /* Adjust as needed */
    font-weight: 700;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right top;
    left: -250px; /* This aligns the left side of the text with the left side of 'formula-guide'. */
    top: 250px; /* This positions the text below 'formula-guide'. Adjust as necessary. */
    font-size: 43px; /* Adjust as needed */
    white-space: nowrap;
}

.pantone-text-below {
    color: black; /* Text color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 52px; /* Text size */
    font-weight: 700;
    position: absolute;
    bottom: 175px; /* Slightly above the bottom of the wrapper */
    left: 50%; /* Horizontally centered */
    transform: translateX(-50%); /* Center the text based on its width */
}

.ink-formulas-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Semi-bold */
    font-size: 14px; /* Adjust as needed */
    color: black;
    width: 133px;
    height: 80px;
    position: absolute;
    bottom: 75px; /* Increased offset to position below 'PANTONE' */
    left: 30%;
    transform: translateX(-50%);
    text-align:left;
    z-index: 10; /* Ensure it's on top of other elements */
}



#colorRangeContainer {
    position: absolute; /* Changed to absolute */
    top: 61px; /* Position relative to colorRangeWrapper */
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-box {
    display: block;
    width: 332px;
    height: 168px;
    margin: 0;
}

.small-color-box {
    display: inline-block;
    width: 10px;
    height: 50px;
}

.pantone-label {
    color: black; /* Text color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 25px; /* Adjust the size as needed */
    font-weight: 700;
    display: flex; /* Use flex to align text and square */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Center items horizontally */
    margin-top: 15px;
    margin-bottom: 10px; /* Space below the label */
    width: 100%;
}

.pantone-label span { /* Targeting the text specifically */
    padding-right: 20px; /* Adds space to the right of the text */
    margin-left: 20px;
}

.black-square {
    width: 20px; /* Width of the black square */
    height: 20px; /* Height of the black square */
    background-color: black; /* Color of the square */
    margin-left: 10px; /* Space between the text and the square */
    margin-right: 20px;
}

