body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.color-picker-container {
    position: absolute;
    left: 200px;
    top: 360px;
}

#colorPicker {
    width: 152px; 
    height: 152px; 
    border: none; 
    cursor: pointer; 
}

#fillButton {
    background-color: #fff; 
    color: black;
    padding: 10px 20px; 
    font-weight: 700;
    font-size: 22px;
    text-align: center; 
    cursor: pointer; 
}

#colorRangeWrapper {
    width: 332px;
    height: 901px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: relative;
    left: 500px; 
    top: -10px;
}

#leftColorRangeWrapper {
    width: 332px;
    height: 901px; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: absolute; 
    left: 680px; 
    top: -10px; 
}

.purple-rectangle {
    width: 332px;
    height: 628px;
    background-color: #884ca4;
    position: relative; 
}

.formula-guide {
    color: white;
    font-size: 58px;
    font-weight: 700;
    position: absolute;
    top: 10px; 
    left: 10px; 
    transform: rotate(-90deg);
    transform-origin: right top; 
    top: 70px; 
    left: -151%;
    white-space: nowrap; 
}

.solid-uncoated {
    color: white; 
    font-size: 43px; 
    font-weight: 700;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right top;
    left: -250px; 
    top: 250px; 
    font-size: 43px;
    white-space: nowrap;
}

.pantone-text-below {
    color: black;
    font-family: 'Montserrat', sans-serif; 
    font-size: 52px; 
    font-weight: 700;
    position: absolute;
    bottom: 175px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.ink-formulas-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 14px;
    color: black;
    width: 133px;
    height: 80px;
    position: absolute;
    bottom: 75px; 
    left: 30%;
    transform: translateX(-50%);
    text-align:left;
    z-index: 10; 
}

#colorRangeContainer {
    position: absolute; 
    top: 61px;
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-box {
    display: block;
    width: 332px;
    height: 168px;
    margin: 0;
}

.small-color-box {
    display: inline-block;
    width: 10px;
    height: 50px;
}

.pantone-label {
    color: black; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px; 
    font-weight: 700;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.pantone-label span { 
    padding-right: 20px;
    margin-left: 20px;
}

.black-square {
    width: 20px;
    height: 20px; 
    background-color: black; 
    margin-left: 10px; 
    margin-right: 20px;
}

